gradio
langchain
langchain-community
langchain_core
langchain-openai
faiss-cpu
huggingface-hub
google-generativeai
cohere
openai
opencv-python
pdf2image
pdfminer-six
pikepdf
pypdf
rank-bm25
replicate
tiktoken
unstructured
unstructured-pytesseract
unstructured-inference